---
import Default from "../layouts/Default.astro";
import Header from "../components/Header.astro";
import Thumbnail from "../components/Thumbnail.astro";
import Profile from "../components/Profile.astro";
import News from "../components/News/Main.astro";
import Footer from "../components/Footer.astro";
---

<Default title="たんしき OFFICIAL SITE">
	<Header />
	<Thumbnail />
	<main>
		<!-- <div>
			<h2>PROFILE</h2>
			<Profile />
		</div> -->
		<div>
			<h2>NEWS</h2>
			<News />
		</div>
	</main>
	<Footer />
</Default>

<style lang="scss">
	main {
		padding: 2rem;

		div {
			padding: 20px 0;
			h2 {
				margin-top: 0;
				text-align: center;
			}
		}
	}
</style>
