---
import HamburgerMenu from "./HamburgerMenu.astro";
---

<header>
    <h1>TANSIKI OFFICIAL</h1>
    <HamburgerMenu />
</header>

<style lang="scss">
    @import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

    header {
        h1 {
            font-family: "Oswald", sans-serif;
            text-align: center;
            font-size: 2rem;
        }
    }
</style>
