---
import List from "./List.astro";
import { news } from "./Variables";
---

<div class="tabs">
    <input id="all" type="radio" name="tab-item" checked />
    <label for="all">全て</label>
    <input id="page" type="radio" name="tab-item" />
    <label for="page">ページあり</label>
    <input id="nopage" type="radio" name="tab-item" />
    <label for="nopage">ページなし</label>
    <div>
        <List news={news} />
    </div>
    <div>
        <List news={news.filter((data) => data.page)} />
    </div>
    <div>
        <List news={news.filter((data) => !data.page)} />
    </div>
</div>

<style lang="scss">
    $length: 3;

    .tabs {
        margin-top: 50px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 700px;
        margin: 0 auto;

        @include mq(md) {
            width: 80%;
        }

        @include mq(sm) {
            width: 90%;
        }

        & > input {
            display: none;

            &:checked + label {
                background-color: #5ab4bd;
                color: #fff;
            }
        }

        @for $i from 1 through $length {
            input:nth-of-type(#{$i}):checked ~ div:nth-of-type(#{$i}) {
                display: block;
            }
        }

        & > label {
            width: calc(100% / #{$length});
            height: 50px;
            border-bottom: 3px solid #5ab4bd;
            background-color: #d9d9d9;
            line-height: 50px;
            font-size: 16px;
            text-align: center;
            color: #565656;
            display: block;
            float: left;
            text-align: center;
            font-weight: bold;
            transition: all 0.2s ease;

            &:hover {
                opacity: 0.75;
            }
        }

        & > div {
            display: none;
            padding: 20px 40px;

            @include mq(md) {
                padding: 10px 40px;
            }

            @include mq(sm) {
                padding: 0 40px;
            }

            clear: both;
            overflow: hidden;
        }
    }
</style>
